.sideBar
  .sideBar__header
    .sideBar__box 
      %p.sideBar__user-name
        = current_user.name
      %ul.sideBar__menu
        %li.sideBar__edit-btn
        = link_to "/groups/new", class: "sideBar__btn sideBar__btn--edit" do
          = icon('far', 'edit', class: "sideBar__btn--icon")
        %li.sideBar__setting-btn
        = link_to edit_user_path(current_user) do
          = icon('fas', 'cog')

  .sideBar__grouplist
    - current_user.groups.each do |group|
      .sideBar__contents
        = link_to group_messages_path(group) do
          .sideBar__top-content
            = group.name
          .sideBar__bottom-contents
            = group.show_last_message